:root {
}

.HUDButton {
    min-width: 64px;
    min-height: 64px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.unity-button {
    background-image: url("project://database/Assets/UI%20Toolkit/slice_box_3D.png?fileID=2800000&guid=ded76447389c1fd4dabaf2a1a267bbcb&type=3#slice_box_3D");
    -unity-slice-left: 40;
    -unity-slice-top: 40;
    -unity-slice-right: 40;
    -unity-slice-bottom: 40;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

#Header {
    top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    align-content: flex-start;
    width: 100%;
    max-height: 25%;
    position: relative;
    min-height: 64px;
}

.unity-label {
    background-color: rgba(255, 255, 255, 0.7);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    align-items: center;
    align-self: center;
    -unity-text-align: middle-center;
    font-size: 21px;
    width: 95%;
    min-height: 70px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    white-space: pre-wrap;
}

.popup {
    position: relative;
    align-self: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    justify-content: center;
    margin-bottom: 64px;
}

#HowToPlayPopup {
}

#VictoryPopup {
}
